nbproject/
.swp
*~
*.o
mcpat
Makefile.in
aclocal.m4
autom4te.cache/
cacti/Makefile.in
configure
depcomp
install-sh
missing
.deps/
Makefile
config.log
cacti/.deps/
cacti/Makefile
config.status
cacti/cacti
cacti/libcacti.a
cacti/obj_opt/
